﻿<div class="card mt-2 w-100" id="divCreateTask">
    <div class="card-body">
        <h5 class="card-title">Создание задачи</h5>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label" required>Вместимость рюкзака (кг)</label>
            <div class="col-sm-3">
                <input type="text" id="tbxBagCapacity" class="form-control" onkeyup="isDigit(this)" data-isRequired="true" value="10">
            </div>
            <label class="text-danger">*</label>
            <div class="invalid-feedback col-sm-4">
                Обязательное поле.
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label" required>Количество предметов для выборки</label>
            <div class="col-sm-3">
                <input type="text" id="tbxItemsQuantity" class="form-control" onkeyup="isDigit(this)" data-isRequired="true" value="10">
            </div>
            <label class="text-danger">*</label>
            <div class="invalid-feedback col-sm-4">
                Обязательное поле.
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label"></label>
            <div class="col-sm-3 text-right ">
                <button type="button" class="btn btn-outline-dark w-100" onclick="createTask('divCreateTask', 'tbxBagCapacity', 'tbxItemsQuantity')" >Создать задачу</button>
            </div>
        </div>
    </div>
</div>