﻿<!-- Modal -->
<div class="modal fade" id="modalResults" tabindex="-1" role="dialog" aria-labelledby="modalResultsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="height:800px" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Результаты выполнения</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height:300px; overflow-y:auto">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tasksCreate-tab" data-toggle="tab" href="#resList" role="tab" aria-selected="true">Результирующий список</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tasksList-tab" data-toggle="tab" href="#sourceList" role="tab" aria-selected="false">Исходный список</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="resList" role="tabpanel" aria-labelledby="tasksCreate-tab">
                        <div id="divTotalWeight" class="mb-1 mt-1"></div>
                        <div id="divOverallVolume" class="mb-1"></div>
                        <div id="divTotalCost" class="mb-1"></div>
                        <div id="divUsedItems" class="mb-3"></div>
                        
                        <table class="table table-hover w-100" style="width:500px" id="tblItemsResults">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Вес</th>
                                    <th scope="col">Стоимость</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade mt-2" id="sourceList" role="tabpanel" aria-labelledby="tasksList-tab">
                        <table class="table table-hover w-100" style="width:500px" id="tblItemsSource">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Вес</th>
                                    <th scope="col">Стоимость</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
