﻿
<div class="card mt-2 w-100">
    <div class="card-body">
        <h5 class="card-title">Список задач</h5>
        <table class="table table-hover" id="tblTasks">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Прогресс</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@Html.Partial("~/Views/Main/Controls/ModalResults.cshtml")
