﻿<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="tasksCreate-tab" data-toggle="tab" href="#createTasks" role="tab" aria-controls="home" aria-selected="true">Создание задачи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tasksList-tab" data-toggle="tab" href="#listTasks" role="tab" aria-controls="profile" aria-selected="false">Список задач</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="createTasks" role="tabpanel" aria-labelledby="tasksCreate-tab">
        @Html.Partial("~/Views/Main/Controls/CreateTask.cshtml")
    </div>
    <div class="tab-pane fade mt-2" id="listTasks" role="tabpanel" aria-labelledby="tasksList-tab">
        @Html.Partial("~/Views/Main/Controls/TasksList.cshtml")
    </div>
</div>
